<div class="container">
  <div *ngIf="theme" class="row">
    <div class="col-md-1">
      <i class="glyphicon glyphicon-arrow-left back-btn" (click)="back()"></i>
    </div>
    <div class="col-md-10 theme-header">
      <h3>{{theme.name}}</h3>
      <button class="btn btn-danger btn-xs" (click)="removeWordTheme()">Удалить</button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="currentWord" class="col-md-10 col-md-offset-1">
      <error-message [status]="validationError.english.status" [message]="validationError.english.message"></error-message>
      <error-message [status]="validationError.russian.status" [message]="validationError.russian.message"></error-message>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control input-sm" [(ngModel)]="currentWord.english" name="english" placeholder="Слово">
        </div>
        <div class="form-group">
          <input type="text" class="form-control input-sm" [(ngModel)]="currentWord.russian" name="russian" placeholder="Перевод">
        </div>
        <button type="submit" class="btn btn-primary btn-sm" (click)="submitAddWordForm()">Добавить</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div *ngIf="words.length" class="col-md-10 col-md-offset-1 words">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Слово</th>
          <th>Перевод</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let word of words">
          <td>{{word.english}}</td>
          <td>{{word.russian}}</td>
          <td><i class="glyphicon glyphicon-remove hoverable-icon" (click)="removeWord(word.id)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!words.length" class="col-md-10 col-md-offset-1 top-margin-20">
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Ни одного слова не обнаружено.
      </div>
    </div>
  </div>
</div>
