<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">English Learn</a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li *ngIf="authService.isLogged()" class="active"><a routerLink="/admin/word-themes">Панель администратора</a></li>
      </ul>
      <ul *ngIf="!authService.isLogged()" class="nav navbar-nav navbar-right">
        <li><a routerLink="/login">Войти</a></li>
        <li><a routerLink="/">Регистрация</a></li>
      </ul>
      <ul *ngIf="authService.isLogged()" class="nav navbar-nav navbar-right">
        <li><a style="cursor: pointer" (click)="logout()">Выйти ({{authService.user.username}})</a></li>
      </ul>
    </div>
  </div>
</nav>
