<div class="container">
  <div class="row themes">
    <h3>Темы тестов</h3>
    <div *ngIf="themes.length" class="col-md-12 themes">
      <a *ngFor="let theme of themes" (click)="selectTestTheme(theme.id)" class="theme">{{theme.name}}</a>
    </div>
    <div *ngIf="!themes.length" class="col-md-12 top-margin-20">
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Ни одной темы не обнаружено.
      </div>
    </div>
  </div>
  <div *ngIf="selectedThemeId" class="row">
    <button class="btn btn-primary btn-sm" (click)="openTheoryModalForView()">Изучить теорию</button>
    <h3>Тесты из выбранной темы</h3>
    <a *ngIf="selectedTestId" class="btn btn-danger btn-xs" routerLink="/test/{{selectedTestId}}">Пройти тест</a>
    <div *ngIf="tests && tests.length" class="col-md-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Тест</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of tests">
          <td (click)="selectTest(test.id)">{{test.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="tests && !tests.length" class="col-md-12 top-margin-20">
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        В данной теме пока нет тестов.
      </div>
    </div>
    <div *ngIf="!tests" class="col-md-12 top-margin-20">
      <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Выберите тему.
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #theoryModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="theoryForm" aria-hidden="true">
  <div *ngIf="theme" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{theme.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeTheoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body theory-modal">
        <div class="theory-block">
          <span class="theory-text">{{currentTheory}}</span>
        </div>
        <button type="button" class="btn btn-secondary"(click)="onTheoryFormClose()">Закрыть</button>
      </div>
    </div>
  </div>
</div>

