.message-block {
  display: inline-block;
  text-align: center;
  float: right;
  position: absolute;
  right: 0;
  top: 50px;
  margin: 5px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  width: 25%;
  color: white;
  opacity: 0.5;
}

.message {
  border: 2px solid dimgray;
  border-radius: 3px;
}
