.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.result {
  padding: 7px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.test-name {
  margin: 0;
}

.test-name a {
  text-decoration: none;
  font-weight: bold;
}

.result-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result-image {
  width: 36px;
  height: 36px;
}

.result-bottom {
  display: flex;
  justify-content: space-between;
}

.number-result {
  font-size: 12px;
}

.right-count {
  margin-right: 10px;
}

.date {
  font-size: 12px;
}
