.theme {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 5px;
  margin: 10px !important;
  transition: 0.2s all linear;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.theme:hover {
  background: #eee;
  border: 1px solid #008cba;
}

.themes {
  display: flex;
  flex-wrap: wrap;
}

.theory-modal {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.theory-block {
  height: 90%;
  margin-bottom: 20px;
  overflow-y: auto;
}

.theory-text {
  font-style: italic;
  font-size: 12px;
}
